<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SigninTestCases" >

<!--    <test name="SiginTest1">-->
<!--        <classes>-->
<!--            <class name="ntsctestcases.SignInTest">-->
<!--                <parameter name="tenancyName" value="TMV"></parameter>-->
<!--                <parameter name="username" value="admin"></parameter>-->
<!--                <parameter name="password" value="TmvMktNew@2021##"></parameter>-->
<!--                <methods>-->
<!--                    <include name="LoginTest"></include>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="case2khongnhapusername">-->
<!--        <classes>-->
<!--            <class name="ntsctestcases.SignInTest">-->
<!--                <parameter name="tenancyName" value="TMV"></parameter>-->
<!--                <parameter name="password" value="TmvMktNew@2021##"></parameter>-->
<!--                <methods>-->
<!--                    <include name="LoginTest"></include>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

    <test name="openDashboardLeTan" >
        <classes>
            <class name="ntsctestcases.SignInTest">
                <parameter name="tenancyName" value="TMD"></parameter>
                <parameter name="username" value="admin"></parameter>
                <parameter name="password" value="TmvMktNew@2021##"></parameter>
                <methods>
                    <include name="LoginTest"></include>
                </methods>
            </class>
            <class name="ntsctestcases.HomeTest">
                <parameter name="tabName" value="1. Dashboard Lễ tân"></parameter>
                <methods>
                    <include name="OpenComponent"></include>
                </methods>
            </class>
        </classes>
    </test>

</suite>